In [1]:
# print("Hello World")

Hello World

In [ ]:
print("Hello World")

In [3]:
'''fdvg
mkv kdfgv'''
print("What are the features in the python")

What are the features in the python

In [9]:
num1 = 10
num2 = 20
name = "MindSprint"

# print("Number1" num1)
print(f"Number2 {num2}")
print("Number2 is", num1)

Number2 20
Number2 is 10

In [11]:
apple = 2
orange = 4

result = f"The number of fruits are {apple} and {orange}" 
print(result)

The number of fruits are 2 and 4

In [12]:
x,y,z = "test1" , "test2", "test3"
print(x," ", y, " ", z)

test1   test2   test3

In [13]:
p = q = r = "temp"
print(p, " ", q, " ", r)

temp   temp   temp

In [23]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter sec number"))

# print("Addition of two numbers: ", int(num1) + int(num2))
print("Addition of two numbers:" ,num1 + num2)
print("Subtraction of two numbers:" ,num1 - num2)
print("Multiplication of two numbers:" ,num1 * num2)
print("Divide of two numbers:" ,num1 / num2)
print("Floor Division" ,num1 // num2)
print("Exponential:", num1 ** num2)

Enter first number 3
Enter sec number 2

Addition of two numbers: 5
Subtraction of two numbers: 1
Multiplication of two numbers: 6
Divide of two numbers: 1.5
Floor Division 1
Exponential: 9

In [25]:
num1 = 23
num2 = 78

print("Is num1 equal to num2: ", num1 == num2)
print("Is num1 greater than num2: ", num1 > num2)
print("Is num1 less than num2: ", num1 < num2)
print("Is num1 greater than or equal to num2: ", num1 <= num2)
print("Is num1 less than or equla to num2: ", num1 >= num2)

Is num1 equal to num2:  False
Is num1 greater than num2:  False
Is num1 less than num2:  True
Is num1 greater than or equal to num2:  True
Is num1 less than or equla to num2:  False

In [30]:
num1 = int(input("Enter the number"))
print(num1)
num1 += 1
print(num1)

num1 -= 1
print(num1)

num2 = int(input("Enter the other number"))

result = num1 % num2
print(result)

Enter the number 45

45
46
45

Enter the other number 32

13

## Logical operator

In [4]:
# name = "hello1"
# name2 = "hello2"
email = input("Enter the email")
password = input("Enter the password")
if email == 'admin@gmail.com' and password == 'admin@123':
    print(True)
else:
    print(False)

Enter the email gjfg
Enter the password hngv

False

In [5]:
num = 0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [7]:
num = 5
print("positive") if num > 0 else print("Negative")

positive

In [6]:
num = 9
if num > 0:
    print("Positive number")

Positive number

In [10]:
# num = 15
num = int(input("Enter the number :" ))
if num > 0:
    if num % 2 == 0:
        print("Positive and even number")
    else:
        print("Positive and odd number")
else:
    print("Negative number")

Enter the number : 56

Positive and even number

In [12]:
# pass - place holder

num = -8
if num > 0:
    pass
else:
    print("This is a place holder code")

This is a place holder code

In [20]:
grade = int(input("Enter the marks btw (out of 100) "))

if grade >= 90 and grade <= 100:
    print("Grade A")
elif grade >= 80 and grade < 90:
    print("Grade B")
elif grade >= 70 and grade < 80:
    print("Grade C")
elif grade >= 60 and grade < 70:
    print("Grade D")
else:
    print("Enter the correct grade")

Enter the marks btw (out of 100)  98

Grade A

In [5]:
num = int(input("Enter the number"))
if num > 0:
    if num % 2 == 0:
        print("It is even number")
    else:
        print("It is odd number")
elif num == 0:
    print("Its ZERO!!")
elif num < 0:
    if num < -10:
        print("The number is less than -10")
    else:
        print("Error")

Enter the number -9

Error

In [13]:
amt = int(input("Enter the purchase amount"))
if amt > 500:
          print("Im giving the 20 % discount")
          discounted_price = ((20 * amt) / 100 )
          final_price = amt - discounted_price
          print("The final price is: ", final_price)
elif amt >= 200 and amt <= 500:
          discounted_price1 = ((10 * amt) / 100)
          final_price = amt - discounted_price1
          print(" The final price is: ", final_price)
elif amt < 200:
          print("There is no discount")
          print("The final price is: ", amt)

Enter the purchase amount 400

 The final price is:  360.0

In [15]:
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [16]:
for num in range(1, 6):
    print("Number: ", num)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [17]:
for num in range(1, 11):
    if num == 5:
        print("Breaking at number:", num)
        break
    print("Number:", num)

Number: 1
Number: 2
Number: 3
Number: 4
Breaking at number: 5

In [18]:
count = 0
while count < 5:
    if count == 3:
        print("Breaking at count=", count)
        break
    print("Count is: ", count)
    count += 1

Count is:  0
Count is:  1
Count is:  2
Breaking at count= 3

In [20]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the sec number"))
sum1 = 0
for num in range(num1, num2 + 1):
    if num % 2 == 0:
        sum1 += num

print(sum1)

Enter the first number 4
Enter the sec number 8

18

In [31]:
num = int(input("Enter the number: "))
for i in range(1, num):
    for j in range(1, i):
        print(j, end=" " )
    print()

Enter the number:  6

1
1 2
1 2 3
1 2 3 4

In [32]:
def hello():
    print("Hello world")
hello()

Hello world

In [33]:
def greet(name):
    print("Good Night", name)
greet('Nisarga')

Good Night Nisarga

In [34]:
def multiply_numbers(a, b):
    return a * b

result = multiply_numbers(4, 6)
print(result)

24

In [36]:
#Default 
def greet(name = "Guest"):
    print(f"Hello, {name}!")
greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

In [37]:
def describe_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}")
describe_person(age = 90, city = 'India', name = 'Bob')

Bob is 90 years old and lives in India

In [7]:
#Recursion
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n - 1)
    result = fact(8)
    print(f"The factorial of {n}  is: ", result)

In [5]:
def valid(username, password):
    if username == 'admin@gmail.com' and password == 'admin123':
        print("It is correct successfull login")
    else:
        print("Error wrong")

username = input("Enter username: ")
password = input("Enter paswords: ")
valid(username, password)
# valid('admin@gmail.com', 'admin123')

Enter username:  gjse
Enter paswords:  mzjgf

Error wrong

In [11]:
#Recursion
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n - 1)
n = 9
result = fact(n)
print(f"The factorial of {n}  is: ", result)

The factorial of 9  is:  362880

In [35]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list.append(6)

print(my_list)
my_list.insert(2, 50)

print(my_list)
print(my_list.pop())
print(my_list)

print(len(my_list))
print(sum(my_list))
print(min(my_list))
print(max(my_list))

my_list.remove(2)
print(my_list)

#check membership
print(20 in my_list)

print(my_list)

#del my_list
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 50, 3, 4, 5, 6]
6
[1, 2, 50, 3, 4, 5]
6
65
1
50
[1, 50, 3, 4, 5]
False
[1, 50, 3, 4, 5]
[1, 50, 3, 4, 5]

In [13]:
print(my_list[2])

3

In [14]:
my_tup = (10, 20, 30, 40, 50)
print(my_tup)

(10, 20, 30, 40, 50)

In [15]:
print(my_tup[4])

50

In [29]:
print(my_list.extend([6, 7,7 ,8]))

None

In [30]:
print(my_list)

[1, 50, 3, 4, 5, 6, 7, 7, 8]

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 7]
for num in numbers[2 : 5]:
    print(num)

# for i in range(2, 5):
#     print(i)

3
4
5

In [43]:
my_data = [56, 78, 23, 89, 32]
my_data.sort()
print(my_data)
my_data.sort(reverse = True)
print(my_data)
my_data.reverse()
print(my_data)

[23, 32, 56, 78, 89]
[89, 78, 56, 32, 23]
[23, 32, 56, 78, 89]

In [44]:
copy_numbers = my_data.copy()
print(copy_numbers)

squares = [ x **2 for x in range(1, 6)]
print(squares)

[23, 32, 56, 78, 89]
[1, 4, 9, 16, 25]

In [48]:
names = ("Nisarga", "Manushree", "Vishal", "Shasidhar", "Chandan", "Lokesh", "rohit")
print(names)

('Nisarga', 'Manushree', 'Vishal', 'Shasidhar', 'Chandan', 'Lokesh', 'rohit')

In [47]:
numbers_tuple = (10, 20, 30)
numbers_list = list(numbers_tuple)

numbers_list.append(40)

numbers_tuple = tuple(numbers_list)
print(numbers_list)

[10, 20, 30, 40]

In [50]:
names = ("Nisarga", "Manushree", "Vishal", "Shasidhar", "Chandan", "Lokesh", "rohit")

print('Access value: ', names[1])
print('Access value: ', names[3])
print('Access value: ', names[-5])

Access value:  Manushree
Access value:  Shasidhar
Access value:  Vishal

In [51]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concat = tuple1 + tuple2

print(concat)

(1, 2, 3, 4, 5, 6)

In [57]:
new_tuple = ('Danger!!!',) * 4
print(new_tuple)

('Danger!!!', 'Danger!!!', 'Danger!!!', 'Danger!!!')

In [60]:
lst = [1, 2, 3, 3, 3, 4, 5, 6, 7, 8, 9]
print(lst.count(3))

print(lst.index(3))

3
2

In [72]:
#Dictionary

employee = {
    "eid" : 1001,
    "name" : "John doe",
    "dept" : "CSE(AIML)",
    "salary" : 1000000
}

print(employee)
print("Employee name:", employee['eid'])

{'eid': 1001, 'name': 'John doe', 'dept': 'CSE(AIML)', 'salary': 100000}
Employee name: 1001

In [66]:
print("Manager:" , employee('manager')) #If key not found throws arror

TypeError: 'dict' object is not callable

In [67]:
print("Manager:" , employee.get('manager'))  #If  key not found will not give error - gives none

Manager: None

In [71]:
print("Manager:" , employee.get('manager')) 
print("Manager:" , employee.get('manager', "Nisarga and Manushree"))

Manager: None
Manager: Nisarga and Manushree

In [74]:
employee.popitem() #Remove the last item and return

('dept', 'CSE(AIML)')

In [77]:
employee.pop('eid')

1001

In [80]:
#Dictionary

employee2 = {
    "eid" : 1006,
    "name" : "shasidhar",
    "dept" : "IT",
    "salary" : 100000067
}

print(employee2)
# print("Employee name:", employee['eid'])

{'eid': 1006, 'name': 'shasidhar', 'dept': 'IT', 'salary': 100000067}

In [87]:
Student = {
    "id" : "101", 
    "name" : "alex",
    "email" : "alex@gmail.com",
    "address" : "us"
}
print(student)

{'id': '101', 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}

In [83]:
print(student.items())

dict_items([('id', '101'), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])

In [88]:
for key, value in student.items():
    print(key, ": ", value)

id :  101
name :  alex
email :  alex@gmail.com
address :  us

In [89]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [91]:
#Set
myset = {404, 200, 500, 302, 403, 302}
print(myset)

{403, 404, 500, 200, 302}

In [95]:
for num in myset:
    print(num)

403
404
500
200
302

In [101]:
#Adding an element
myset.add(501)
print(myset)
myset.update([303,402]) #pass list to add multiple elements
print(myset)

#Removal
myset.remove(303)
print(myset)

{402, 403, 404, 500, 501, 200, 302}
{402, 403, 404, 500, 501, 200, 302, 303}
{402, 403, 404, 500, 501, 200, 302}

In [104]:
myset.discard(303) #if not found then no error
print(myset)
myset.pop()
print(myset)

{402, 403, 404, 500, 501, 200, 302}
{403, 404, 500, 501, 200, 302}

In [106]:
print(myset.clear())
print(myset)

None
set()

In [108]:
if len(myset) > 0:
    myset.pop()
else:
    print("Set is empty")

Set is empty

In [109]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

#Union - combines elements from both sets
print(A | B)
print(A.union(B))

#Intersection - common elements
print(A & B)
print(A.intersection(B))

#Difference - elements in A but not in B
print(A - B)
print(A.difference(B))

#Symmmetric Difference
#Elements in either set but not in both
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [143]:
employees = { 
    "employee1" : { "eid" : 1001, "name" : "Nisarga", "dept" : "IT","salary" : 100000067 },
    "employee2" : { "eid" : 1002, "name" : "shasidhar", "dept" : "IT", "salary" : 100000067 }, 
    "employee3" : { "eid" : 1003, "name" : "manushree", "dept" : "IT", "salary" : 100000067 }
}

print(employees)


#Add a new employee

employees["employee4"] = {"eid" : 1004, "name" : "vishal", "dept" : "IT","salary" : 100000056634 }

print(employees)

employees["employee3"] = {"eid" : 1004, "name" : "vishal", "dept" : "IT","salary" : 54345665276 }
print("Updates employee salary: \n", employees)

employees["employee3"] = {"eid" : 1004, "name" : "vishal", "dept" : "IT","salary" : 54345665276 }
print("Updates employee salary: \n", employees)
employees.pop("employee1")

{'employee1': {'eid': 1001, 'name': 'Nisarga', 'dept': 'IT', 'salary': 100000067}, 'employee2': {'eid': 1002, 'name': 'shasidhar', 'dept': 'IT', 'salary': 100000067}, 'employee3': {'eid': 1003, 'name': 'manushree', 'dept': 'IT', 'salary': 100000067}}
{'employee1': {'eid': 1001, 'name': 'Nisarga', 'dept': 'IT', 'salary': 100000067}, 'employee2': {'eid': 1002, 'name': 'shasidhar', 'dept': 'IT', 'salary': 100000067}, 'employee3': {'eid': 1003, 'name': 'manushree', 'dept': 'IT', 'salary': 100000067}, 'employee4': {'eid': 1004, 'name': 'vishal', 'dept': 'IT', 'salary': 100000056634}}
Updates employee salary:
 {'employee1': {'eid': 1001, 'name': 'Nisarga', 'dept': 'IT', 'salary': 100000067}, 'employee2': {'eid': 1002, 'name': 'shasidhar', 'dept': 'IT', 'salary': 100000067}, 'employee3': {'eid': 1004, 'name': 'vishal', 'dept': 'IT', 'salary': 54345665276}, 'employee4': {'eid': 1004, 'name': 'vishal', 'dept': 'IT', 'salary': 100000056634}}
Updates employee salary:
 {'employee1': {'eid': 1001, 'name': 'Nisarga', 'dept': 'IT', 'salary': 100000067}, 'employee2': {'eid': 1002, 'name': 'shasidhar', 'dept': 'IT', 'salary': 100000067}, 'employee3': {'eid': 1004, 'name': 'vishal', 'dept': 'IT', 'salary': 54345665276}, 'employee4': {'eid': 1004, 'name': 'vishal', 'dept': 'IT', 'salary': 100000056634}}

{'eid': 1001, 'name': 'Nisarga', 'dept': 'IT', 'salary': 100000067}

In [150]:
# employees = { 
#     "employee1" : { "eid" : 1001, "name" : "Nisarga", "dept" : "IT","salary" : 100000067 },
#     "employee2" : { "eid" : 1002, "name" : "shasidhar", "dept" : "IT", "salary" : 100000067 }, 
#     "employee3" : { "eid" : 1003, "name" : "manushree", "dept" : "IT", "salary" : 100000067 }
# }

# def add_employee(eid, name, department, salary):
#     n = len(employees)
#     employees[f'employee[{n + 1} '] = { "eid" : id, "name" : name, "department" : department, "salary" : salary}


# def update_salary(eid, name, department, salary):
#     pass

# def remove_employee(eid, name, department, salary):
#     pass
# def print_employee(employees):
#     for emp in employees:
#         print("---------------------------------------------")
#         for key in employees[employee]:
#             print(key, " ", employees[employee][key])
# print_employee(employees)



employees = { 
    "employee1" : { "eid" : 1001, "name" : "Nisarga", "dept" : "IT", "salary" : 100000067 },
    "employee2" : { "eid" : 1002, "name" : "Shasidhar", "dept" : "IT", "salary" : 100000067 }, 
    "employee3" : { "eid" : 1003, "name" : "Manushree", "dept" : "IT", "salary" : 100000067 }
}

def add_employee(eid, name, department, salary):
    n = len(employees)
    employees[f'employee{n + 1}'] = { "eid" : eid, "name" : name, "dept" : department, "salary" : salary }

def update_salary(eid, new_salary):
    for emp in employees.values():
        if emp['eid'] == eid:
            emp['salary'] = new_salary
            return f"Salary updated for employee ID {eid}"
    return f"Employee with ID {eid} not found"

def remove_employee(eid):
    for key, emp in list(employees.items()):
        if emp['eid'] == eid:
            del employees[key]
            return f"Employee with ID {eid} removed";
    return f"Employee with ID {eid} not found"

def print_employee(employees):
    for emp in employees:
        print("---------------------------------------------")
        for key in employees[emp]:
            print(f"{key}: {employees[emp][key]}")

# Testing the functions
print_employee(employees)
print("\nAdding a new employee:")
add_employee(1004, "Ravi", "HR", 90000000)
print_employee(employees)
print("\nUpdating salary:")
print(update_salary(1002, 120000000))
print_employee(employees)
print("\nRemoving an employee:")
print(remove_employee(1003))
print_employee(employees)

---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 100000067
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067

Adding a new employee:
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 100000067
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000

Updating salary:
Salary updated for employee ID 1002
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 120000000
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000

Removing an employee:
Employee with ID 1003 removed
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 120000000
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\k.nisarga\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\k.nisarga\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --------- ------------------------------ 2.6/11.5 MB 15.9 MB/s eta 0:00:01
   ----------------------- ---------------- 6.8/11.5 MB 18.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 19.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 17.5 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.6/12.6 MB 6.8 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.6 MB 11.7 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 14.7 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip